@font-face{
    font-family:candara;
    src: url(../fonts/Candara.ttf);
}

@font-face{
    font-family:adobe;
    src: url(../fonts/AdobeFanHeitiStd-Bold.otf);
}

.bodyIndex{
    background-image: url(../img/bgImg.jpg);
    background-size: 100%; 
    color: white;
    font-family: candara;
}

.IDEtitle,.title1, .title2{
    padding:0;
    margin-left: 30px;
}



.IDEtitle{
    margin-top: 200px;
}

.copyright{
    margin-left:30px;
}

.loginmodal{
    color:black;
    max-width: 450px;
}


.loginmodal a{
    text-decoration-line: underline;
    color: black;
}

.loginmodal a:hover{
    text-decoration-line: underline;
    color: rgb(134, 15, 15);
}

.modalContainer{
    width: 450px;
    margin:0;
}
/* --------INDEX HTML STYLING ENDS HERE------------*/


.headerText{
    width: 75%;
    position: relative;
    margin:0;
}

.imgLogo{
    margin:20px;
    margin-top:1%;
}

#borderCustom{
    border: solid;
    width: 8.5cm;
}

#courseinfP{
padding: 15px ;  
margin-left: 24%;
}

.matkul{
    text-decoration: none;
}

.file{
    font-size: 13px;
}
#blackButton{
background-color: black;
color: beige;
float: right;
margin-right:10px;
}
#divLegend{
margin-top: 100px;
margin-left:24%;
}
#fieldName{
    color: red;
}
#inputField1{
    margin-left:24%;
  
}

#inputField2{
    margin-left: 24%;
    width: 295px;
}

#confirmButton1{
background-color: black;
color: white;
float: right;
margin-right: 300px;
}
#confirmButton2{
background-color: black;
color: white;
float: right;
margin-right: 30px;
}







