<html>
    <head>
        <link rel="stylesheet" href="../style/w3.css">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <div class="w3-container w3-black header">
            
                <h4>Interactive Digital Learning Environtment</h4>
                <p>Faculty of Information Technology and Science</p>
                <p>Parahyangan Chatolic University</p>
                <hr>
                <img class="w3-display-topright imgLogo" src="../img/logo.png" alt="" width="130px">
                
          
            
        </div>
    </body>
</html>